.navigation {
    background-color: #333333;
    color: azure;
}

body.table.th.main-content {
    background-color: aqua;
}

footer {
    background-color: lightcoral;
    text-align: center;
};

.nav-item2 {
    color: blue;
    text-decoration: underline;
};