/*CSS for navbar*/
* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: lightgreen;
  color: black;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
  margin-right: 15%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 14px 16px;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 850px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

.topnav-color{
  background-color: white;
  }
  
/*right logo*/
.nav-img{
    width: 15%;
    height: 15%;
    float: right;
}
/* ------- end main css */

/* nav-dropdown elements */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgreen;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  /*--------- end CSS nav-dropdown*/
  
/* time, search*/
#nav-second{
  list-style: none;
  width: 100%;
  background-color: green;
}

#suche{
  text-align: left;
  background-color: #E2DFE3;  
}
.nav-table-element{
  padding-left: 5%;
  color: white;
}
.nav-table-element2{
  text-align: right;
  align-items: right;
  margin-left: 50%;
}
.uhrzeit{
  text-align: left;
  text-decoration: none;
  color: white;
}
/*-------- end time, search*/


/* Navigation Registierung und Login Form*/
