.modal-overlay {
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: rgba(128, 128, 128, 0.295);
}

.modal-overlay.visible {
    visibility: visible;
}

.modal-overlay .modal {
    background-color: white;
    padding: 10px;
    transition: all ease 0.5s;
    transform: scale(0);
}

.modal-overlay.visible .modal {
    transform: scale(1);
}

/* styling */

.modal-overlay .modal {
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}

.modal-overlay .modal>* {
    margin: 2px;
    padding: 5px;
}

.modal-overlay .modal .header-container {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.modal-overlay .modal .modal-close {
    cursor: pointer;
    margin-left: 5px;
}

.modal-overlay .modal .modal-close:hover {
    transform: scale(1.1);
}