.home {
  text-align: justify;
}

/*Anfang Slidebar*/

* {box-sizing: border-box}
.mySlides {display: none}
img {
max-width: 100%;
}

#tableMainContent{
  padding-top: 3%;          /*margin macht hier Probleme*/
  padding-bottom: 3%;
}

.column-content{
  width: 38.2%;             /*Goldener Schnitt*/
  text-align: center;
  padding-bottom: 80px;
}

.column-picture{
  width: 61.8%;             /*Goldener Schnitt*/
  text-align: center;
  padding: 0%;
}

#title{
  font-size: 200%;
  margin: 10%;
  margin-bottom: 20px;
}

#author{
  font-style: italic;
}

td{
  border-collapse: collapse;
  border: 5px solid rgba(0,0,0);
  max-width: 50%;
}

/* Slideshow container */
.slideshow-container {
max-width: 100%;
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 42%;
width: auto;
padding: 16px;
margin-top: -22px;
color: green;
font-weight: bold;
font-size: 40px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
text-decoration: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Fading animation */
.my-fade {
animation-name: my-fade;
animation-duration: 2s;
}

@keyframes my-fade {
from {opacity: 0.7} 
to {opacity: 1}
}

/*Responisve Design */
@media only screen and (max-width: 300px) {
  .column-content{
    display: none;
  }
}
/*Ende Sildebar*/

/* Textboxen für Blog Einträge*/
.blog-element{
  border: solid black 1px;
  margin: 10px;
}

.blog-element-picture{
  width: 38.2%;
  text-align: center;
}

.blog-element-text{
  text-align: center;
  background-color: lightgray;
  margin-top: 50%;
  margin-bottom: 50%;
}

.blogtitel-table{
  font-size: large;
  text-align: center;
  background-color: white;
  
}

/*---------- Ende Textboxen für Blog Einträge */
.btn-style {
  margin-top: 3%;
  min-width: 20%;
}

/*Blog-Tags */
.blog-tags{
  background-color: lightgreen;
  padding: 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/*Über uns*/
.about-us {
  background-color: lightgreen;
  color: black;
  margin-top: 0%;
}
.about-us h2 {
  text-align: center;
}
.about-us hr {
  border-top: 20px solid green;
}
.about-us p{
  text-align: left;
  padding: 5%;
}
.about-us-pic{
  width:20%;
  margin-left: 20%;
}